#Next_button
{
	font-size:18px;
	height:35;
	width:85;
	padding:2;
	background-color:#E98074; color:#FFFFFF;
	border-top:#E6615C;
	border-right-color:#E6615C;
	border-bottom-color:#452622;
	border-left-color:#E6615C;
	font-weight:bold;
	box-shadow:5px 0px 7px 0px rgb(0,0,0);
}